@{
    ViewData["Title"] = "Admin";
}
<br />
<h3>@ViewData["Title"]</h3>

<a class="nav-link" asp-controller="Administration" asp-action="ManageUsers">Manage existing users</a>
<a class="nav-link" asp-controller="Administration" asp-action="AddRole">Add a new user role</a>







