@model Intex_2.Models.GamousLocation

@{
    ViewData["Title"] = "Create";
}

<h1>Osteology Form</h1>

<h4>Body Analysis Chart</h4>
<hr />
<h6>Square:</h6>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LowPairNs" class="control-label">Low Pair (North/South):</label>
                <input asp-for="LowPairNs" class="form-control" />
                <span asp-validation-for="LowPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairNs" class="control-label">High Pair (North/South):</label>
                <input asp-for="HighPairNs" class="form-control" />
                <span asp-validation-for="HighPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationNs" class="control-label">North or South?:</label>
                <select asp-for="BurialLocationNs" class="form-control">
                    <option value="North" class="form-control">North</option>
                    <option value="South" class="form-control">South</option>
                </select>
                <span asp-validation-for="BurialLocationNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairEw" class="control-label">Low Pair (East/West)</label>
                <input asp-for="LowPairEw" class="form-control" />
                <span asp-validation-for="LowPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairEw" class="control-label">Low Pair (North/South)</label>
                <input asp-for="HighPairEw" class="form-control" />
                <span asp-validation-for="HighPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationEw" class="control-label">East or West?</label>
                <select asp-for="BurialLocationEw" class="form-control">
                    <option value="East" class="form-control">East</option>
                    <option value="West" class="form-control">West</option>
                </select>
                <span asp-validation-for="BurialLocationEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSubplot" class="control-label">Area</label>
                <select asp-for="BurialSubplot" class="form-control">
                    <option value="NE" class="form-control">NE</option>
                    <option value="NW" class="form-control">NW</option>
                    <option value="SE" class="form-control">SE</option>
                    <option value="SW" class="form-control">SW</option>
                </select>
                <span asp-validation-for="BurialSubplot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNumber" class="control-label">Burial #</label>
                <input asp-for="BurialNumber" class="form-control" />
                <span asp-validation-for="BurialNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <input type="submit" type="hidden" value="Create" class="btn btn-primary" />
            </div>*@
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
