@model Intex_2.Models.GamousBiologicalSample

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>GamousBiologicalSample</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationId" class="control-label"></label>
                <input asp-for="LocationId" class="form-control" />
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RackNumber" class="control-label"></label>
                <input asp-for="RackNumber" class="form-control" />
                <span asp-validation-for="RackNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BagNumber" class="control-label"></label>
                <input asp-for="BagNumber" class="form-control" />
                <span asp-validation-for="BagNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairNs" class="control-label"></label>
                <input asp-for="LowPairNs" class="form-control" />
                <span asp-validation-for="LowPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairNs" class="control-label"></label>
                <input asp-for="HighPairNs" class="form-control" />
                <span asp-validation-for="HighPairNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationNs" class="control-label"></label>
                <input asp-for="BurialLocationNs" class="form-control" />
                <span asp-validation-for="BurialLocationNs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LowPairEw" class="control-label"></label>
                <input asp-for="LowPairEw" class="form-control" />
                <span asp-validation-for="LowPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HighPairEw" class="control-label"></label>
                <input asp-for="HighPairEw" class="form-control" />
                <span asp-validation-for="HighPairEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialLocationEw" class="control-label"></label>
                <input asp-for="BurialLocationEw" class="form-control" />
                <span asp-validation-for="BurialLocationEw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSubplot" class="control-label"></label>
                <input asp-for="BurialSubplot" class="form-control" />
                <span asp-validation-for="BurialSubplot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNumber" class="control-label"></label>
                <input asp-for="BurialNumber" class="form-control" />
                <span asp-validation-for="BurialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClusterNumber" class="control-label"></label>
                <input asp-for="ClusterNumber" class="form-control" />
                <span asp-validation-for="ClusterNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviouslySampled" class="control-label"></label>
                <input asp-for="PreviouslySampled" class="form-control" />
                <span asp-validation-for="PreviouslySampled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initials" class="control-label"></label>
                <input asp-for="Initials" class="form-control" />
                <span asp-validation-for="Initials" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
