@{
    ViewData["Title"] = "About";
}

<br />
<h2 class="text-center">About</h2>

<br />
<br />
<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
    <div class="col-lg-6"><img class="img-fluid" src="../img/skull.jpg" alt="" /></div>
    <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-left text-about-padding fade-in-text-2">
                    <h4 class="text-white">Way of the Water Buffalo</h4>
                    <p class="mb-0 text-white">
                        Fag el-Gamous - which means Way of the Water Buffalo - is a large and important cemetery in Egypt that has been under archeological investigation (primarily by BYU researchers)
                        for over 25 years.
                    </p><br />
                    <p class="mb-0 text-white">
                        The excavation has garnered international attention because of the interesting insights gained by studying the Fag el-Gamous mummies.
                    </p>
                    <hr class="d-none d-lg-block mb-0 ml-0" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<!-- Project Two Row-->
<div class="row justify-content-center no-gutters">
    <div class="col-lg-6"><img class="img-fluid" src="../img/mummy.jpg" alt="" /></div>
    <div class="col-lg-6 order-lg-first">
        <div class="bg-white text-center h-100 project">
            <div class="d-flex h-100">
                <div class="project-text w-100 my-auto text-center text-lg-right text-about-padding fade-in-text-2">
                    <h4 class="">Research</h4>
                    <p class="mb-0">
                        During multiple years of study, researchers have excavated more than 1,000 mummies and collected data in field notes, spreadsheets, and simple databases about each mummy’s
                        location, physical orientation in the ground, burial depth, hair color, wrapping (including information about the textiles used), gender, age, bone (including skull and teeth)
                        dimensions, items accompanying the mummy, and more.
                    </p><br />
                    <p class="mb-0 ">
                        And, of course, there are many, many photographs. Offsite, researchers have performed a variety of analyses on the items
                        excavated including carbon dating, DNA sequencing, and others.
                    </p><br />
                    <p class="mb-0 ">
                        <a href="https://religion.byu.edu/event/egyptian-excavation-exhibit">Learn more about the role BYU is playing in excavation</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />
<br />
<h3 class="text-center">Gallery</h3><br />
<div class="row-img row justify-content-center no-gutters">
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery2.jpg" alt="" onclick="myFunction(this);">
    </div>
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery3.jpg" alt="" onclick="myFunction(this);">
    </div>
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery4.jpg" alt="" onclick="myFunction(this);">
    </div>
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery5.jpg" alt="" onclick="myFunction(this);">
    </div>
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery6.jpg" alt="" onclick="myFunction(this);">
    </div>
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery7.jpg" alt="" onclick="myFunction(this);">
    </div>
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery8.jpg" alt="" onclick="myFunction(this);">
    </div>
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery9.jpg" alt="" onclick="myFunction(this);">
    </div>
    <div class="column-img">
        <img class="img-fluid" src="../img/gallery10.jpg" alt="" onclick="myFunction(this);">
    </div>
</div><br />

<!-- The expanding image container -->
<div class="container-img">
    <!-- Close the image -->
    <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

    <!-- Expanded image -->
    <img id="expandedImg" style="width:100%">

    <!-- Image text -->
    <div id="imgtext"></div>
</div>

<script>
    function myFunction(imgs) {
        // Get the expanded image
        var expandImg = document.getElementById("expandedImg");
        // Get the image text
        var imgText = document.getElementById("imgtext");
        // Use the same src in the expanded image as the image being clicked on from the grid
        expandImg.src = imgs.src;
        // Use the value of the alt attribute of the clickable image as text inside the expanded image
        imgText.innerHTML = imgs.alt;
        // Show the container element (hidden with CSS)
        expandImg.parentElement.style.display = "block";
    }
</script>