@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Exhumation Form</h3>
<br />

<form>
    <h6>Burial ID</h6>
    <div>
        <label>Square: </label>
        <input />
        <br />

        <label>Area: </label>
        <input />
        <br />

        <label>Burial #: </label>
        <input />
        <br />

        <label>Shaft: </label>
        <input />
        <br />

        <!--If yes then prompt for burial number(s) that share the same shaft; the uppermost burial in a shaft will have the status of P (pending); Burials
            with a P status must be resolved to either Y or N-->
        <label>Shared Shaft?: </label>
        <input type="radio" id="sharedShaftYes" name="sharedShaft" value="Y" />
        <label for="sharedShaftYes">Yes</label>
        <input type="radio" id="sharedShaftNo" name="sharedShaft" value="N" />
        <label for="sharedShaftNo">No</label>
        <input type="radio" id="sharedShaftPending" name="sharedShaft" value="P" />
        <label for="sharedShaftPending">Pending</label>
        <br />

        <!--If yes then prompt for burial number(s)
            If Yes then prompt for culster number (square, area, cluster number); assign-->
        <label>Cluster</label>
        <input type="radio" id="clusterYes" name="cluster" value="Y" />
        <label for="clusterYes">Yes</label>
        <input type="radio" id="sharedShaftN" name="cluster" value="N" />
        <label for="clusterNo">No</label>
        <br />

        <label>Preservation Index: </label>
        <select>
            <option value="">Select One</option>
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
        </select>
        <br />

        <label>Hair: </label>
        <input type="radio" id="hairYes" name="hair" value="Y" />
        <label for="hairYes">Yes</label>
        <input type="radio" id="hairNo" name="hair" value="N" />
        <label for="hairNo">No</label>
        <input type="radio" id="hairPending" name="hair" value="P" />
        <label for="hairPending">Pending</label>
        <br />

        <label>Age: </label>
        <input type="radio" id="ageAdult" name="age" value="A" />
        <label for="ageAdult">Adult</label>
        <input type="radio" id="ageChild" name="age" value="C" />
        <label for="ageChild">Child</label>
        <input type="radio" id="ageNeonateInfant" name="age" value="NI" />
        <label for="ageNeonateInfant">Neonate/Infant</label>
        <br />

        <label>Date: </label>
        <input type="date" />
        <br />

        <label>Time: </label>
        <input type="time" />
        <br />

        <label>Excavation Recorder: </label>
        <input />
        <br />
    </div>
    <br />
    <br />

    <h6>Metrics</h6>
    <div>
        <label>South to Head (meters): </label>
        <input />
        <br />

        <label>South to Feet (meters): </label>
        <input />
        <br />

        <label>West to Head (meters): </label>
        <input />
        <br />

        <label>West to Feet (meters): </label>
        <input />
        <br />

        <label>Length (meters): </label>
        <input />
        <br />

        <label>Depth (meters): </label>
        <input />
        <br />
    </div>
    <br />
    <br />

    <h6>Observation</h6>
    <div>
        <label>Photo</label>
        <input type="radio" id="photoYes" name="photo" value="Yes" />
        <label for="photoYes">Yes</label>
        <input type="radio" id="photoNo" name="photo" value="No" />
        <label for="photoNo">No</label>
        <br />

        <label>Burial Goods</label>
        <input type="radio" id="burialYes" name="burial" value="Yes" />
        <label for="burialYes">Yes</label>
        <input type="radio" id="burialNo" name="burial" value="No" />
        <label for="burialNo">No</label>
    </div>
    <br />

    <button type="submit">Submit Form</button>


</form>
