@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Exhumation Form</h3>
<br />

<form>
    <h6>Burial ID</h6>
    <div>
        <label>Square: </label>
        <input />
        <br />

        <label>Area: </label>
        <input />
        <br />

        <label>Burial #: </label>
        <input />
        <br />

        <label>Date: </label>
        <input type="date" />
        <br />

        <label>Time: </label>
        <input type="time" />
        <br />

        <label>Excavation Recorder: </label>
        <input />
        <br />
    </div>
    <br />
    <br />

    <h6>Metrics</h6>
    <div>
        <label>South to Head (meters): </label>
        <input />
        <br />

        <label>South to Feet (meters): </label>
        <input />
        <br />

        <label>West to Head (meters): </label>
        <input />
        <br />

        <label>West to Feet (meters): </label>
        <input />
        <br />

        <label>Length (meters): </label>
        <input />
        <br />

        <label>Depth (meters): </label>
        <input />
        <br />
    </div>
    <br />
    <br />

    <h6>Observation</h6>
    <div>
        <label>Photo</label>
        <input type="radio" id="photoYes" name="photo" value="Yes" />
        <label for="photoYes">Yes</label>
        <input type="radio" id="photoNo" name="photo" value="No" />
        <label for="photoNo">No</label>
        <br />

        <label>Burial Goods</label>
        <input type="radio" id="burialYes" name="photo" value="Yes" />
        <label for="burialYes">Yes</label>
        <input type="radio" id="burialNo" name="photo" value="No" />
        <label for="burialNo">No</label>
    </div>





</form>
