@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

<div style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/css/egypt.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 800px;">
    <div style="padding-top:75px; text-align: center; color: white">
        <h1>Intex2 Group 4-3</h1>
        <div style="padding-top:10px;margin-left: auto; margin-right: auto; display: block;">
            <img style="height:350px;width:350px;opacity:0.88;" src="/css/BYU Excavations Logo.jpg" />
        </div>
    </div>
</div>
