@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}

<div class="bg-home justify-content-center">
    <br /><br />
    <img src="../img/logo.png" style="height: 20vh;" class="img-fluid mx-auto d-block" alt="Responsive image">
    <br />
    <h1 class="text-center fade-in-text-2 text-white">Welcome to BYU's Fag el-Gamous database</h1>
    <div class="wthreepvt-pos py-md-2 py-2" id="positions">
        <div class="container py-lg-5">
            <div class="wthreepvt-pos-row row  text-center fade-in-text-2">
                <div class="col-lg-4 col-sm-6 wthreepvt-pos-grids">
                    <div class="p-md-5 p-sm-3 text-white">
                        <h4 class="mt-2 mb-3">Learn</h4>
                        <p>Discover Fag el-Gamous</p>
                        <a asp-controller="Home" asp-action="About" class="btn btn-light">About</a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 wthreepvt-pos-grids  border-left border-right my-sm-0 my-5">
                    <div class="p-md-5 p-sm-3 text-white">
                        <h4 class="mt-2 mb-3">Explore</h4>
                        <p>Dive into data about 1000+ burials</p>
                        <a asp-controller="Home" asp-action="ListMummies" class="btn btn-light">Database</a>
                    </div>
                </div>
                <div class="col-lg-4 wthreepvt-pos-grids">
                    <div class="p-md-5 p-sm-3 text-white">
                        <h4 class="mt-2 mb-3">Tools</h4>
                        <p>Access the researcher toolkit</p>
                        <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-light">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>