@{ ViewData["Title"] = "Mummy List"; }
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model MummyListViewModel

<h1>Mummies List</h1>
<div class="text-center">

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>

                </th>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Researcher")))
                {
                    <th>

                    </th>
                }
                <th>
                    Location
                </th>
                <th>
                    Lenght of Remains
                </th>
                <th>
                    Sample Number
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Hair Color
                </th>
                <th>
                    Estimate Age
                </th>
                <th>
                    Date Found
                </th>
            </tr>
        </thead>
        <tbody>
            @* Still doesn't print out the movie Independence day*@
            @foreach (var x in Model.mummies)
            {
                <partial name="MummyTableInfo" model="x" />
            }
        </tbody>
    </table>

    <div page-model="@Model.PagingInfo" page-action="ListMummies" class="pagehighlight">

    </div>
</div>
