@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model MediaViewModel

<div class="container">

    <h1>Media Library</h1>
    <br />
    @if (!Model.files.Any())
    {
        <h5>No Media Currently Available</h5>

    }
    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Researcher")))
    {
        <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="UploadMedia">Upload Media</a>
        <br />
        <br />
    }

    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>
                    Type
                </th>
                <th>
                    Image
                </th>
                <th>
                    LocationID
                </th>
                <th>
                    Download Link
                </th>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Researcher")))
                {
            <th></th>}
            </tr>
        </thead>
        <tbody>
            @if (Model.files.Any())
            {
                @foreach (var x in Model.files)
                {

            <tr>
                <td>
                    @x.Type
                </td>
                <td>
                    <img src="@x.Url" style="width:150px" />
                </td>
                <td>
                    @x.LocationId
                </td>
                <td>
                        <button type="submit">Download</button>
                </td>
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Researcher")))
                {
            <td>
                <div>
                    <a class="btn btn-danger" asp-controller="Home" asp-action="DeleteMedia"
                       asp-route-url="@x.Url">Delete</a>
                </div>
            </td>}
            </tr>
                }
            }

        </tbody>
    </table>
</div>

