@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Body Analysis Chart</h3>

<form>
    <div>
        <label>Square: </label>
        <input />
        <br />

        <label>Area: </label>
        <input />
        <br />

        <label>Burial #: </label>
        <input />
        <br />

        <label>Date: </label>
        <input type="date" />
        <br />

        <label>Observer: </label>
        <input />
    </div>
    <br />

    <h4>I. Overall Impression</h4>

    <h6 class="formTab">
        <label>A. Preservation Index: </label>
        <select>
            <option value="">Select One</option>
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
        </select>
    </h6>

    <h6 class="formTab">
        <label>B. Hair Color: </label>
        <input />
    </h6>

    <h6 class="formTab">
        <label>C. Observations (e.g., Artifacts, Burial Situation, Textiles)</label><br />
        <input />
    </h6>
    <br />

    <h4>II. Skull Analysis</h4>
    <h6 class="formTab">
        <label>A. Skull Features (gender estimation)</label>
    </h6>

    <div style="margin-left: 80px">
        <label>Robust:</label>
        <input type="radio" id="robustYes" name="robust" value="Yes" />
        <label for="robustYes">Yes</label>
        <input type="radio" id="robustNo" name="robust" value="No" />
        <label for="robustNo">No</label>
        <br />

        <label>Supraorbital Ridges:</label>
        <input type="radio" id="ridgesHeavy" name="ridges" value="Heavy" />
        <label for="ridgesHeavy">Heavy</label>
        <input type="radio" id="ridgesLight" name="ridges" value="Light" />
        <label for="ridgesLight">Light</label>
        <br />

        <label>Orbit Edge:</label>
        <input type="radio" id="orbitBlunt" name="orbitEdge" value="Blunt" />
        <label for="orbitBlunt">Blunt</label>
        <input type="radio" id="orbitSharp" name="orbitEdge" value="Sharp" />
        <label for="orbitSharp">Sharp</label>
        <br />

        <label>Parietal Bossing:</label>
        <input type="radio" id="parietalNo" name="parietalBossing" value="No" />
        <label for="parietalNo">No</label>
        <input type="radio" id="parietalYes" name="parietalBossing" value="Yes" />
        <label for="parietalYes">Yes</label>
        <br />

        <label> Gonion:</label>
        <input type="radio" id="gonionFlat" name="gonion" value="Flat" />
        <label for="gonionFlat">Flat</label>
        <input type="radio" id="gonionPointed" name="gonion" value="Pointed" />
        <label for="gonionPointed">Pointed</label>
        <br />

        <label>Nuchal Crest:</label>
        <input type="radio" id="nuchalLarger" name="nuchalCrest" value="Larger" />
        <label for="nuchalLarger">Larger</label>
        <input type="radio" id="nuchalSmaller" name="nuchalCrest" value="Smaller" />
        <label for="nuchalSmaller">Smaller</label>
        <br />

        <label>Zygomatic Crest:</label>
        <input type="radio" id="zygomaticLonger" name="zygomaticCrest" value="Longer" />
        <label for="zygomaticLonger">Longer</label>
        <input type="radio" id="zygomaticShorter" name="zygomaticCrest" value="Shorter" />
        <label for="zygomaticShorter">Shorter</label>
        <br />
    </div>

    <h6 class="formTab">B. Skull Sutures (age estimation)</h6>

    <div style="margin-left: 80px">
        <label>Sphenoccipital Synchondrosis [basilar suture]</label>
        <select>
            <option value="">Select One</option>
            <option value="Closed">Closed (>age 18-25)</option>
            <option value="NotClosed">Not Closed</option>
        </select>
        <br />
        <label>Lambdoid Suture [parietal-occipital]</label>
        <select>
            <option value="">Select One</option>
            <option value="Closed">Closed (>age 45-50)</option>
            <option value="NotClosed">Not Closed</option>
        </select>
        <br />
        <label>Squamos Suture [parietal-temporal]</label>
        <select>
            <option value="">Select One</option>
            <option value="Closed">Closed (>age 60-65)</option>
            <option value="NotClosed">Not Closed</option>
        </select>
    </div>

    <h6 class="formTab">C. Dention (age estimation)</h6>

    <div style="margin-left: 80px">
        <label>Tooth Attrition</label>
        <select>
            <option value="">Select One</option>
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
        </select>
        <br />

        <label>Tooth Eruption Age Estimate</label>
        <input />

    </div>

    <h4>III. Pelvis Analysis</h4>
    <h6 class="formTab">
        <label>A. Pelvis Features (gender estimation)</label>
    </h6>

    <div style="margin-left: 80px">
        <label>Ventral Arc:</label>
        <input type="radio" id="ventralYes" name="ventral" value="Yes" />
        <label for="ventralYes">Yes</label>
        <input type="radio" id="ventralNo" name="ventral" value="No" />
        <label for="ventralNo">No</label>
        <br />

        <label>Subpubic Angle:</label>
        <input type="radio" id="subpubicNarrow" name="subpubic" value="Narrow" />
        <label for="subpubicNarrow">Narrow</label>
        <input type="radio" id="subpubicWide" name="subpubic" value="Wide" />
        <label for="subpubicWide">Wide</label>
        <br />

        <label>Sciatic Notch:</label>
        <input type="radio" id="sciaticNotch" name="sciatic" value="Narrow" />
        <label for="sciaticNarrow">Blunt</label>
        <input type="radio" id="sciaticWide" name="sciatic" value="Sharp" />
        <label for="sciaticWide">Wide</label>
        <br />

        <label>Medial IP Ramus:</label>
        <input type="radio" id="medialFlat" name="medial" value="medialFlat" />
        <label for="medialFlat">Flat</label>
        <input type="radio" id="medialRidged" name="medial" value="medialRidged" />
        <label for="medialRidged">Ridged</label>
        <br />
    </div>

    <h4>IV. Limb Analysis</h4>

    <h6 class="formTab">
        <label>A. Epiphyseal Union</label>
    </h6>

    <div style="margin-left: 80px">
        Femur:
        <select>
            <option value="">Select One</option>
            <option value="Closed">Closed (>age 17)</option>
            <option value="NotClosed">Not Closed</option>
        </select>
        <br /> <br />
        Humerus:
        <select>
            <option value="">Select One</option>
            <option value="Closed">Closed (>age 14)</option>
            <option value="NotClosed">Not Closed</option>
        </select>
        <br /> <br />
    </div>

    <h6 class="formTab">
        <label>B. Head Diameter</label>
    </h6>
    <div style="margin-left: 80px">
        <label>Femur Head Diameter (< 41.5mm=F; > 45.5mm=M): </label>
        <input />
        <br />

        <label>Humerus Head Diameter (< 43.5mm=F; > 48mm=M): </label>
        <input />
        <br />

        <label>Observers Estimation of Age at Death: </label>
        <input />
        <br />

        <label>Observers Estimation of Gender: </label>
        <select>
            <option value="">Select One</option>
            <option value="Male"> Male</option>
            <option value="Female">Female</option>
            <option value="Indeterminate">Indeterminate</option>
        </select>
    </div>

    <h4>V. Stature Estimation   [M=2.32(femur length) + 65.53; F=2.47(femur length) +54.1]</h4>
    <h6 class="formTab">
        <label>A. Femur Length (cm)</label>
        <input />
        <br />

        <label>B. Humerus Length (cm)</label>
        <input />
        <br />

        <label>C. Estimate of Stature</label>
        <input />
        <br />
    </h6>

    <h4>VI. Pathology</h4>
    <h6 class="formTab">
        <label>A. Osteophytosis</label>
        <select>
            <option value="">None</option>
            <option value="Slight"> Slight</option>
            <option value="Moderate">Moderate</option>
            <option value="Heavy">Heavy</option>
        </select>
        <br />

        <label>B. Caries and Periodontal Disease (noted in Figure 1)</label>
        <br />
        <!--Insert picture of teeth recording form-->
        <label>C. Notes</label>
        <input />
    </h6>

    <h4>VII. Samples</h4>
    <input />

</form>