@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Body Analysis Chart</h3>

<form>
    <div>
        <label>Square: </label>
        <input />
    </div>

    <div>
        <label>Area: </label>
        <input />
    </div>

    <div>
        <label>Burial #: </label>
        <input />
    </div>

    <div>
        <label>Date: </label>
        <input type="date" />
    </div>

    <div>
        <label>Observer: </label>
        <input />
    </div>
    <br />

    <h4>I. Overall Impression</h4>

    <h6 class="formTab">
        <label>A. Preservation Index: </label>
        <select>
            <option value="">Select One</option>
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
        </select>
    </h6>

    <h6 class="formTab">
        <label>B. Hair Color: </label>
        <input />
    </h6>

    <h6 class="formTab">
        <label>C. Observations (e.g., Artifacts, Burial Situation, Textiles)</label><br />
        <input />
    </h6>
    <br />

    <h4>II. Skull Analysis</h4>
    <h6 class="formTab">
        <label>A. Skull Features (gender estimation)</label>
    </h6>

    <div style="margin-left: 80px">
        <label>Robust:</label>
        <input type="radio" id="robustYes" name="robust" value="Yes" />
        <label for="robustYes">Yes</label>
        <input type="radio" id="robustNo" name="robust" value="No" />
        <label for="robustNo">No</label>
        <br />

        <label>Supraorbital Ridges:</label>
        <input type="radio" id="ridgesHeavy" name="ridges" value="Heavy" />
        <label for="ridgesHeavy">Heavy</label>
        <input type="radio" id="ridgesLight" name="ridges" value="Light" />
        <label for="ridgesLight">Light</label>
        <br />

        <label>Orbit Edge:</label>
        <input type="radio" id="orbitBlunt" name="orbitEdge" value="Blunt" />
        <label for="orbitBlunt">Blunt</label>
        <input type="radio" id="orbitSharp" name="orbitEdge" value="Sharp" />
        <label for="orbitSharp">Sharp</label>
        <br />

        <label>Parietal Bossing:</label>
        <input type="radio" id="parietalNo" name="parietalBossing" value="No" />
        <label for="parietalNo">No</label>
        <input type="radio" id="parietalYes" name="parietalBossing" value="Yes" />
        <label for="parietalYes">Yes</label>
        <br />

        <label> Gonion:</label>
        <input type="radio" id="gonionFlat" name="gonion" value="Flat" />
        <label for="gonionFlat">Flat</label>
        <input type="radio" id="gonionPointed" name="gonion" value="Pointed" />
        <label for="gonionPointed">Pointed</label>
        <br />

        <label>Nuchal Crest:</label>
        <input type="radio" id="nuchalLarger" name="nuchalCrest" value="Larger" />
        <label for="nuchalLarger">Larger</label>
        <input type="radio" id="nuchalSmaller" name="nuchalCrest" value="Smaller" />
        <label for="nuchalSmaller">Smaller</label>
        <br />

        <label>Zygomatic Crest:</label>
        <input type="radio" id="zygomaticLonger" name="zygomaticCrest" value="Longer" />
        <label for="zygomaticLonger">Longer</label>
        <input type="radio" id="zygomaticShorter" name="zygomaticCrest" value="Shorter" />
        <label for="zygomaticShorter">Shorter</label>
        <br />
    </div>

    <h6 class="formTab">B. Skull Sutures (age estimation)</h6>

    <div style="margin-left: 80px">
        <label>Sphenoccipital Synchondrosis [basilar suture]</label>
        <select>
            <option value="">Select One</option>
            <option value="Closed">Closed (>age 18-25)</option>
            <option value="NotClosed">Not Closed</option>
        </select>
        <br />
        <label>Lambdoid Suture [parietal-occipital]</label>
        <select>
            <option value="">Select One</option>
            <option value="Closed">Closed (>age 45-50)</option>
            <option value="NotClosed">Not Closed</option>
        </select>
        <br />
        <label>Squamos Suture [parietal-temporal]</label>
        <select>
            <option value="">Select One</option>
            <option value="Closed">Closed (>age 60-65)</option>
            <option value="NotClosed">Not Closed</option>
        </select>
    </div>

    <h6 class="formTab">C. Dention (age estimation)</h6>

    <div style="margin-left: 80px">
        <label>Tooth Attrition</label>
        <select>
            <option value="">Select One</option>
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
            <option value="V">V</option>
        </select>
        <br />

        <label>Tooth Eruption Age Estimate</label>
        <input />

    </div>


</form>