@model Intex_2.Models.FieldLocation

@{ ViewData["Title"] = "Create";
                Layout = "~/Views/Shared/_Layout.cshtml"; }
<br />
<h1>Exhumation Form</h1>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <h4>Field Location</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BurialAreaNorthOrSouth" class="control-label">Burial Area North/South</label>
                <input required asp-for="BurialAreaNorthOrSouth" class="form-control" />
                <span asp-validation-for="BurialAreaNorthOrSouth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialnors" class="control-label">North or South?</label>
                <select required asp-for="Burialnors" class="form-control">
                    <option value="N" class="form-control">North</option>
                    <option value="S" class="form-control">South</option>
                </select>
                <span asp-validation-for="Burialnors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label required asp-for="BurialAreaEastOrWest" class="control-label">Burial Area East/West</label>
                <input asp-for="BurialAreaEastOrWest" class="form-control" />
                <span asp-validation-for="BurialAreaEastOrWest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialxeorw" class="control-label">East or West?</label>
                <select required asp-for="Burialxeorw" class="form-control">
                    <option value="E" class="form-control">East</option>
                    <option value="W" class="form-control">West</option>
                </select>
                <span asp-validation-for="Burialxeorw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Square" class="control-label">Area</label>
                <select required asp-for="Square" class="form-control">
                    <option value="NE" class="form-control">NE</option>
                    <option value="NW" class="form-control">NW</option>
                    <option value="SE" class="form-control">SE</option>
                    <option value="SW" class="form-control">SW</option>
                </select>
                <span asp-validation-for="Square" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNumber" class="control-label">Burial Number</label>
                <input required asp-for="BurialNumber" class="form-control" />
                <span asp-validation-for="BurialNumber" class="text-danger"></span>
            </div>
            <br />

            <h4>Metrics</h4>
            <hr />
            <div class="form-group">
                <label asp-for="BurialSouthToHead" class="control-label">Burial South to Head (meters)</label>
                <input asp-for="BurialSouthToHead" class="form-control" />
                <span asp-validation-for="BurialSouthToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSouthToFeet" class="control-label">Burial South to Feet (meters)</label>
                <input asp-for="BurialSouthToFeet" class="form-control" />
                <span asp-validation-for="BurialSouthToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialWestToHead" class="control-label">Burial West to Head (meters)</label>
                <input asp-for="BurialWestToHead" class="form-control" />
                <span asp-validation-for="BurialWestToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialWestToFeet" class="control-label">Burial West to Feet (meters)</label>
                <input asp-for="BurialWestToFeet" class="form-control" />
                <span asp-validation-for="BurialWestToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialDepth" class="control-label">Burial Depth (meters)</label>
                <input asp-for="BurialDepth" class="form-control" />
                <span asp-validation-for="BurialDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialDirection" class="control-label">Burial Direction</label>
                <input asp-for="BurialDirection" class="form-control" />
                <span asp-validation-for="BurialDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
