@model Intex_2.Models.FieldLocation

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Edit</h1>

<h4>Field Location</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LocationId" />
            <div class="form-group">
                <label asp-for="BurialAreaNorthOrSouth" class="control-label"></label>
                <input asp-for="BurialAreaNorthOrSouth" class="form-control" />
                <span asp-validation-for="BurialAreaNorthOrSouth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialnors" class="control-label"></label>
                <input asp-for="Burialnors" class="form-control" />
                <span asp-validation-for="Burialnors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialAreaEastOrWest" class="control-label"></label>
                <input asp-for="BurialAreaEastOrWest" class="form-control" />
                <span asp-validation-for="BurialAreaEastOrWest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Burialxeorw" class="control-label"></label>
                <input asp-for="Burialxeorw" class="form-control" />
                <span asp-validation-for="Burialxeorw" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Square" class="control-label"></label>
                <input asp-for="Square" class="form-control" />
                <span asp-validation-for="Square" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialNumber" class="control-label"></label>
                <input asp-for="BurialNumber" class="form-control" />
                <span asp-validation-for="BurialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialWestToHead" class="control-label"></label>
                <input asp-for="BurialWestToHead" class="form-control" />
                <span asp-validation-for="BurialWestToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialWestToFeet" class="control-label"></label>
                <input asp-for="BurialWestToFeet" class="form-control" />
                <span asp-validation-for="BurialWestToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSouthToHead" class="control-label"></label>
                <input asp-for="BurialSouthToHead" class="form-control" />
                <span asp-validation-for="BurialSouthToHead" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialSouthToFeet" class="control-label"></label>
                <input asp-for="BurialSouthToFeet" class="form-control" />
                <span asp-validation-for="BurialSouthToFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialDepth" class="control-label"></label>
                <input asp-for="BurialDepth" class="form-control" />
                <span asp-validation-for="BurialDepth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BurialDirection" class="control-label"></label>
                <input asp-for="BurialDirection" class="form-control" />
                <span asp-validation-for="BurialDirection" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
