@model Intex_2.Models.GamousDental

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Osteology Form Continued</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" name="ost-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Gamous" type="hidden" class="form-control" value="@TempData["gamous"]" />

            <h6>Epipyseal Union</h6>
            <div class="form-group">
                <select asp-for="EpiphysealUnion" class="form-control">
                    <option value="" class="form-control">None</option>
                    <option value="Yes" class="form-control">Yes</option>
                    <option value="No" class="form-control">No</option>
                </select>
                <span asp-validation-for="EpiphysealUnion" class="text-danger"></span>
            </div>

            <h6>B. Caries and Periodontal Disease:</h6>

            <div class="form-group">
                <label asp-for="ToothAttrition" class="control-label">Tooth Attrition</label>
                <select asp-for="ToothAttrition" class="form-control">
                    <option value="I" class="form-control">I</option>
                    <option value="II" class="form-control">II</option>
                    <option value="III" class="form-control">III</option>
                    <option value="IV" class="form-control">IV</option>
                    <option value="V" class="form-control">V</option>
                </select>
                <span asp-validation-for="ToothAttrition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToothEruption" class="control-label">Tooth Eruption</label>
                <input asp-for="ToothEruption" class="form-control" />
                <span asp-validation-for="ToothEruption" class="text-danger"></span>
            </div>

            <h6>C. Notes</h6>
            <div class="form-group">
                <input asp-for="PathologyAnomalies" class="form-control" />
                <span asp-validation-for="PathologyAnomalies" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


