@model Intex_2.Models.GamousSample

@{
    ViewData["Title"] = "Osteology Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Osteology Form Continued</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <input asp-for="Gamous" type="hidden" class="form-control" value="@TempData["gamous"]" />
            <h4>VII. Samples</h4>
            <div class="form-group">
                <input asp-for="DescriptionOfTaken" class="form-control" />
                <span asp-validation-for="DescriptionOfTaken" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
