@model Intex_2.Models.GamousMain

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Osteology Form Continued</h1>
<br />
<h4>I. Overall Impressions:</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" name="ost-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="LocationId" type="hidden" class="form-control" value="@TempData["loc"]" />

            <div class="form-group">
                <label asp-for="PreservationIndex" class="control-label">Preservation Index</label>
                <select asp-for="PreservationIndex" class="form-control">
                    <option value="I" class="form-control">I</option>
                    <option value="II" class="form-control">II</option>
                    <option value="III" class="form-control">III</option>
                    <option value="IV" class="form-control">IV</option>
                    <option value="V" class="form-control">V</option>
                </select>
                <span asp-validation-for="PreservationIndex" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="HairColor" class="control-label">Hair Color</label>
                <input asp-for="HairColor" class="form-control" />
                <span asp-validation-for="HairColor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EstimateAge" class="control-label">Observers Estimation of Age at Death</label>
                <input asp-for="EstimateAge" class="form-control" />
                <span asp-validation-for="EstimateAge" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="GenderGe" class="control-label">Observers Estimation of Gender</label>
                <select asp-for="GenderGe" class="form-control">
                    <option value="Undetermined" class="form-control">Undetermined</option>
                    <option value="Male" class="form-control">Male</option>
                    <option value="Female" class="form-control">Female</option>
                </select>
                <span asp-validation-for="GenderGe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Continue" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
